<nav class='w-full h-[10vh] py-4 border-b border-[#FF4398]'>
    <ul class='flex justify-between px-4'>
        <li class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>Produtos</li>
        <li class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>Carteira</li>
        <li class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>Extrato</li>
        <li class='text-black font-semibold cursor-pointer transition duration-500 hover:border-b border-[#FF4398] hover:text-[#FF4398]'>Dúvidas</li>
    </ul>
</nav>