<div class='w-full h-full bg-gradient-to-b from-[#FF4398] via-[#C21F73] to-[#640F46] flex'>
    <aside class='bg-yellow min-h-screen p-8 py-6 h-fit'>
        <p>asdasdasdasd</p>
        <p>asdasdasdasd</p>
        <p>asdasdasdasd</p>
        <p>asdasdasdasd</p>
        <p>asdasdasdasd</p>
        <p>asdasdasdasd</p>
    </aside>
    <div class='bg-green-400'>
asdasdasd
    </div>
</div>